p {
  font-size: 18px;
}

.studio-container {
  width: 50%;
  margin: auto;
  padding:10px;
}

.studio-img {
  border-radius: 5px;
  width: 100%;
  margin: 10px auto;
}

.studio-title {
  font-size: 40px !important;
}

.studio-infos {
  justify-content: space-between;
}

.studio-address {

}

.studio-price {

}

.studio-description h2 {
  font-size: 20px;
}

.studio-description p {
  text-align: justify;
}

.studio-owner {
  text-align: right;
}


