.container-mybookings {
  padding-top: 100px;
  background-color: lightgrey;
  // height: 90vh;
  padding-left: 40px;
  padding-right:40px;
  padding-bottom: 20px;
}

.card-mybookings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card-mybooking {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.total-price {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  color: black;
}

.header-mybookings {
  font-size: 40px;
  padding-top:20px;
  padding-bottom:40px;
}

.img-mybookings {
  padding-bottom: 20px;
}

.booking-img-div {

}
