<div class="footer">

  <div class="social-icons">
    <ul>
      <li><i class="fab fa-facebook-square"></i></li>
      <li><i class="fab fa-twitter-square"></i></li>
      <li><i class="fab fa-instagram-square"></i></li>
      <li><i class="fab fa-soundcloud"></i></li>
    </ul>
  </div>

  <div class="footer-content">
    <p> Proudly brought to you by Team Pegs</p>
  </div>

</div>
