<div class="banner">
  <div class="banner-content text-center">
    <h1 class="landing-heading">AirStudio</h1>
    <p>Rent a recording studio from our growing network of studio owners</p>
    <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-lg btn-primary"  %>
    <%= link_to "View Studios", studios_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
