.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), image-url("home-studio-landing.jpeg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
    font-size: 20px;
    background-color: $orange;
    border: 0;
    &:hover {
    background-color: darken($orange,15%);
    transition: 0.5s;
    }
  }
}

.banner-content {
  margin-top: -70px;
}
