.footer {
  background-color: #000;
  color: white;
  padding: 100px;
  font-size: 25px;
  text-align: center;
}

.social-icons ul li {
  padding-inline-start: 0px;
  list-style: none;
  display: inline-block;
  &:hover{
    color: $orange;
    transition: 0.5s;
  }
}
