.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  image-size: 20%;
}

.map-image {
  height: 60px;
  width: 90px;
}

.marker {
  background-color: #FFA349
}
