.navbar {

  position: fixed;
  font-size: 18px;
  color: #fff;
  // text-decoration: none;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 10;
  &__list{
    display: flex;
    text-decoration: none;
    color: #fff;
    list-style: none;
  }
  &__item{
    // color: #fff;
    // text-decoration: none;
    padding: 1rem;
  }
  &__links {
    color: $light-gray;
    &:hover {
      color: darken($light-gray,25%);
      transition: 0.5s;
      text-decoration: none;
    }
  }
}

.logo {
  width: 20rem;
  padding: 10px;
}
