<div class="marker"><h3 ><%= link_to studio.title, studio_path(studio)  %> </h3>
<h3 ><%= studio.price %>Chf</h3>
<%#= studio.photo.key %>
<img class="map-image" src="https://static.questiondeson.com/img/studios/a/1-studio-a-2019-front.jpg" alt="Card image cap">
</div>
