<div class="marker">

  <div class="marker-image-container">
  <% if studio.photo.attached? %>
  <%= cl_image_tag studio.photo.key, class: "card-img-top"%>
  <% end %>
  </div>

  <div class="marker-details">
    <h3 class="marker-heading"><%= link_to studio.title, studio_path(studio)  %> </h3>
    <h3 class="marker-price"><%= studio.price %>Chf</h3>
  <%#= studio.photo.key %>
  </div>

</div>
